:root {
    --main-bg-color: white;
    --main-text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 250px;
    padding: 15px 39px 13px 31px;
    font-size: 16px;
    background-color: var(--main-bg-color);
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.profile-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-item span {
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}
